<div class="container my-5">
  <h1 class="mb-3">Edit Product</h1>

  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="updateProduct()">
        <div class="mb-3">
          <label for="id" class="form-label">Id</label>
          <input type="text" readonly class="form-control" id="id" [(ngModel)]="productDetails.id" name="id">
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="productDetails.name" name="name">
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <input type="text" class="form-control" id="category" [(ngModel)]="productDetails.category" name="category">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" min="0" class="form-control" id="price" [(ngModel)]="productDetails.price" name="price">
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input type="number" min="0" class="form-control" id="quantity" [(ngModel)]="productDetails.quantity" name="quantity">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
